<!doctype html>
<html lang="en">


<head>
  <meta charset="utf8">
  <title><%= @title + ' | Todo' %></title>
  <script src="//code.jquery.com/jquery-1.11.1.js"></script>

<body>


<header>
  <h1><a href="/">TODO LIST</a></h1>
</header>


<div id="main"> <%= yield %>
</div>
        <footer>
  <p>TurnToTech Samples</p>
        </footer>
    </body>
</html>